<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <hr>
        <h2><%= nome %></h2>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>